<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.submitted.cursor_cache_oom.Mapper">

    <select id="getUser" resultType="org.apache.ibatis.submitted.cursor_cache_oom.User">
        select * from users where id = #{id}
    </select>

    <insert id="insertUser">
        insert into users values(#{id}, #{name})
    </insert>

    <select id="fetchUsers" resultMap="User" resultOrdered="true">
        select u.id as id, u.name as name, f.name as friend_name
        from users as u
        left join users as f on u.friend_id = f.id
    </select>

    <resultMap id="User" type="org.apache.ibatis.submitted.cursor_cache_oom.User">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <association property="friend" resultMap="Friend"/>
    </resultMap>

    <resultMap id="Friend" type="org.apache.ibatis.submitted.cursor_cache_oom.Friend">
        <result property="name" column="friend_name"/>
    </resultMap>
</mapper>
